@import "tailwindcss";

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}
